<div class="modal-content">
    <form id="updateStock" ng-submit="vm.onUpdate()" role="form" class="form-horizontal">

        <div id="banner" class="modal-header">
            <div class="row">
                <div class="col-xs-8">
                    <h3>Update Stock</h3>
                </div>
            </div>
        </div>
        <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12">
                        <div role="alert" ng-show="vm.error" class="alert alert-danger">{{vm.error}}</div>
                    </div>
                </div>

               <label for="name" class="col-xs-10 col-sm-2 control-label">Stock Name</label>
                <div class="col-xs-12 col-sm-4">
                    <input id="name" name="name" class="form-control" ng-model="vm.stockData.stockName">
                </div>
                <label for="code" class="col-xs-10 col-sm-2 control-label">Stock Code</label>
                <div class="col-xs-12 col-sm-4">
                    <input id="code" name="code" class="form-control" ng-model="vm.stockData.stockCode">
                </div>
                <div class="form-group"></div>
                <label for="volume" class="col-xs-10 col-sm-2 control-label">Volume</label>
                <div class="col-xs-12 col-sm-4">
                    <input id="volume" name="volume" class="form-control" ng-model="vm.stockData.volume">
                </div>
                <label for="currPrice" class="col-xs-10 col-sm-2 control-label">Last Price</label>
                <div class="col-xs-12 col-sm-4">
                    <input id="currPrice" name="currPrice" class="form-control" ng-model="vm.stockData.currPrice">
                </div>
                <div class="form-group">           </div>
                <label for="wkHigh52" class="col-xs-10 col-sm-2 control-label">52-Week High</label>
                <div class="col-xs-12 col-sm-4">
                    <input id="wkHigh52" name="wkHigh52" class="form-control" ng-model="vm.stockData.wkHigh52">
                </div>
                <label for="wkLow52" class="col-xs-10 col-sm-2 control-label">52-Week Low</label>
                <div class="col-xs-12 col-sm-4">
                    <input id="wkLow52" name="wkLow52" class="form-control" ng-model="vm.stockData.wkLow52">
                </div>
                <div class="form-group"></div>
                <label for="industry" class="col-xs-10 col-sm-2 control-label">Industry</label>
                <div class="col-xs-12 col-sm-4">
                    <select name="industry" ng-model="vm.stockData.industry">
                        <option>(None)</option>
                        <option>Large-cap</option>
                        <option>Mid-cap</option>
                        <option>Small-cap</option>
                    </select>
                </div>
                <label for="sector" class="col-xs-10 col-sm-2 control-label">Sector</label>
                <div class="col-xs-12 col-sm-4">
                    <select name="sector" ng-model="vm.stockData.sector">
                        <option>(None)</option>
                        <option>Automobiles</option>
                        <option>Banking</option>
                        <option>Capital Goods</option>
                        <option>Finance</option>
                        <option>Infrastructure</option>
                        <option>IT Sector</option>
                        <option>Mining</option>
                        <option>Pharmaceuticals</option>
                        <option>Textiles</option>
                    </select>
                </div>
                <div class="form-group"></div>
                <div class="col-xs-8"> </div>
                <div class="col-xs-2">
                    <button class="btn btn-default btn-success" ng-click="vm.onCancel()">Cancel</button>
                </div>
                <div class="col-xs-2">
                    <button class="btn btn-default btn-success pull-right">Update Stock</button>
                </div>
                <div class="form-group"></div>
        </div>
   
    </form>
 </div>
