body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.review {padding-bottom:5px;}

.review-header {margin-bottom:10px;}
.panel-body.review-container {padding-top: 0;}
.reviewAuthor {margin: 0 5px;}
.reviewTimestamp {color:palevioletred;}
#reviewBtn {margin-top:-25px;}

.mySelect{
  padding:6px 14px;
  height:34px;
}