extends layout

block content
  #banner.page-header
    .row
        .col-lg-8
            h1 MyShare
                small &nbsp; Ideas that can change your fortunes.
  .row
    .col-xs-12.col-sm-8
        .row.list-group
            .col-xs-12
              h4.row
                .col-xs-4
                  p Stock Name
                .col-xs-2
                  p Last Price
                .col-xs-2
                  p 52wk High
                .col-xs-2
                  p 52wk Low
                .col-xs-2
                  p Volume     
        .row.list-group
            .col-xs-12
              .row
                .col-xs-4
                  a(href="/stock") Infosys Technologies
                .col-xs-2
                  p 952
                .col-xs-2
                  p 1500
                .col-xs-2
                  p 900
                .col-xs-2
                  p 1254646 
              .row
                .col-xs-4
                .col-xs-4
                  button.btn-default.btn-success Add to WatchList  
                .col-xs-4
                  button.btn-default.btn-primary Add to Portfolio        
    .col-xs-12.col-sm-4
        p Ads Section
